@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #262626;
    --global-bg-2: #f3f3f3;
    --global-bg-3: #f45b6a;
    --global-bg-4: #fffcf9;
    --global-bg-5: #ffffff;
    --global-bg-6: #facc6b;
    --global-text-1: #000000;
    --global-text-2: #262626;
    --global-text-3: #f45b69;
    --global-text-4: #ffffff;
    --global-text-5: #898989;

    /* Header Colors */
    --header-bg-1: transparent;

    /* EditText Colors */
    --edittext-text-1: #898989;
  }
}

@layer utilities {
  /* Global */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .bg-global-4 {
    background-color: var(--global-bg-4);
  }
  .bg-global-5 {
    background-color: var(--global-bg-5);
  }
  .bg-global-6 {
    background-color: var(--global-bg-6);
  }
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
  .text-global-4 {
    color: var(--global-text-4);
  }
  .text-global-5 {
    color: var(--global-text-5);
  }

  /* Header */
  .bg-header-1 {
    background-color: var(--header-bg-1);
  }

  /* EditText */
  .text-edittext-1 {
    color: var(--edittext-text-1);
  }
}